* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.row button {
    background-color: black;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.row button:hover {
    background-color: rgb(53, 103, 240);
}

.show_all,
.nature,
.people,
.car {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}


.card {
    width: calc((100% - 20px) / 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #bebbbb86;
    padding: 5px;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
